.game-label {
  margin-top: 5px;
}

.box {
  border: 2px solid $black;
  height: 125px;
}

.container-board {
  margin-left: 5%;
  margin-top: 75px;
  width: 90%;
}

nav {
  overflow: hidden;
}

.container {
  width: 75%
}

.btn {
  margin-top: 65px;
}
