.game-label {
  margin-top: 5px;
}

.box {
  border: 2px solid $black;
  height: 125px;
}

.container-board {
  margin-left: 5%;
  margin-top: 75px;
  width: 90%;
}

nav {
  overflow: hidden;
}

.container {
  width: 75%
}

.btn-top {
  margin-left: 5px;
  margin-top: 10px;
}

.game-buttons {
  margin-top: 100px;
}

.navbar-right {
  margin-left: 10px;
}

form {
  display: inline;
}

.btn-lg {
  background-color: #aaceaa;
  color: #fffaaa;
}

#cell0, #cell1, #cell2 {
  border-top: 0px white;
}

#cell0, #cell3, #cell6 {
  border-left: 0px white;
}

#cell2, #cell5, #cell8 {
  border-right: 0px white;
}

#cell6, #cell7, #cell8 {
  border-bottom: 0px white;
}

.divform {
  height: 0;
  width: 0;
}

navbar-fixed-top {
  overflow: hidden;
}

@media (max-width: 500px) {
  .game-buttons {
    margin-left: 50px;
    margin-top: 200px;
  }
  .btn-lg {
    font: 70%;
    height: 60%;
    width: 30%;
  }
}

.cheatButton {
  margin-left: 50px;
  width: 80%;
}

.cheatButton form button {
  font: 70%;
  height: 60%;
  width: 70%;
}

.dropdown {
  margin-top: 100px;
}

.statsContainer {
  float: right;
}
